@font-face {
    font-family: 'Prompt-Bold';
    src: url('/fonts/Prompt-Bold.ttf');
}

@font-face {
    font-family: 'Prompt-Medium';
    src: url('/fonts/Prompt-Medium.ttf');
}

@font-face {
    font-family: 'Prompt-Regular';
    src: url('/fonts/Prompt-Regular.ttf');
}
@font-face {
    font-family: 'THSarabunNew Bold';
    src: url('/fonts/THSarabunNew Bold.ttf');
}



h1, h2, h3, h4, h5, h6 {
    font-family: 'THSarabunNew Bold';
}

* {
    font-family: 'THSarabunNew Bold';
    font-size: 25px;
}

.mvh-100 {
    min-height: 100vh;
}

.mvh-90 {
    min-height: 90vh;
}